* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav li {
    padding: 12px;
}

.carousel .carousel-item {
    height: 70vh;
}
  
.carousel-item img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 70vh;
}